@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC|Roboto');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100%;
}

#main{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/2109.jpg);
    background-size: cover;
    position: relative;
    display: grid;
}
#main #gradient{
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3) ,#000)
}
#main .info{
    
}